{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Attila list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Súly</th>
                <th>Bicepszbal</th>
                <th>Bicepszjobb</th>
                <th>Dagadthattyúbal</th>
                <th>Dagadthattyújobb</th>
                <th>Mell</th>
                <th>Derék</th>
                <th>Csípö</th>
                <th>Combbal</th>
                <th>Combjobb</th>
                <th>Vádlibal</th>
                <th>Vádlijobb</th>
                <th>Dátum</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('attila_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.suly }}</td>
                <td>{{ entity.bicepszBal }}</td>
                <td>{{ entity.bicepszJobb }}</td>
                <td>{{ entity.dagadtHattyuBal }}</td>
                <td>{{ entity.dagadtHattyuJobb }}</td>
                <td>{{ entity.mell }}</td>
                <td>{{ entity.derek }}</td>
                <td>{{ entity.csipo }}</td>
                <td>{{ entity.combBal }}</td>
                <td>{{ entity.combJobb }}</td>
                <td>{{ entity.vadliBal }}</td>
                <td>{{ entity.vadliJobb }}</td>
                <td>{% if entity.datum %}{{ entity.datum|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('attila_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('attila_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('attila_new') }}">
                Create a new entry
            </a>
        </li>
            <li><a href="/">Home</a></li>
    </ul>
    {% endblock %}
